=render 'shared/page_header', title: "Notification Texts"

.row
  .col-sm-6
    =render 'notification_form'
  .col-sm-6
    =render 'group_notification_form'
%hr        
=render 'shared/page_header', title: "Sent Notifications"

%form.form-inline
  Filter By:
  %input.input-medium{:placeholder => "Customer Name", :type => "text"}/
  %input.input-medium{:placeholder => "Phone Number", :type => "text"}/
  date range
  .input-group
    %span.input-group-addon
      %i.fa.fa-calendar.bigger-110
    %input#id-date-range-picker-1.form-control{:name => "date-range-picker", :type => "text"}/
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl picked up
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl not picked up
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl all
  %button.btn.btn-info.btn-sm{:type => "button"}
    %i.ace-icon.fa.bigger-110
    Go
.space-6
%table#sample-table-1.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th
        Sent on
        %i.ace-icon.fa.fa-calendar.bigger-110
      %th
        Picked up on 
        %i.ace-icon.fa.fa-calendar.bigger-110
      %th Customer
      %th Phone Number
      %th Message
      %th
  %tbody
    -@notifications.each do |notification|
      %tr
        %td= notification.decorate.sent_date
        %td= notification.item_picked_up_date
        %td
          = link_to notification.customer.decorate.name, customer_path(notification.customer)
        %td= notification.customer.phone_number
        %td= notification.message
        %td
          %button.btn.btn-danger.btn-xs Mark Picked Up
            
%script{:src => "/assets/js/jquery-ui.custom.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });