=render 'shared/page_header', title: "Notification Texts"

.row
  .col-sm-6
    .widget-box.widget-color-blue.blue
      .widget-header
        %h4.widget-title
          %i.ace-icon.fa.fa-comment
          Send an Individual Text
      .widget-body
        .widget-main.no-padding 
          = form_for  @notification do |f|
            - if @notification.errors.any? or @customer.errors.any?
              .alert.alert-danger
                %h5 Please fix the errors below.
                %ul
                  - @notification.errors.full_messages.each do |msg|
                    %li= msg
                  - @customer.errors.full_messages.each do |msg|
                    %li= msg      
            %fieldset
              %div
                %h4 Choose an existing customer
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-user
                  = f.select :customer_id, options_for_select([["Choose a customer from this list", nil]].concat( @customers.all.decorate.map {|c| [c.name + " - " +  c.display_phone_number, c.id]}), @notification.customer_id), {}, { :class => 'form-control' }
                %hr
                %h4 Or add a new cusomer below
                =fields_for @customer do |cn|
                  .input-group
                    .row
                      .col-sm-3
                        =cn.label :first_name
                        =cn.text_field :first_name, class: "form-control"
                      .col-sm-3
                        =label_tag :last_name
                        =cn.text_field :last_name, class: "form-control"
                      .col-sm-6
                        =label_tag :phone_number
                        =cn.text_field :phone_number ,class: "form-control"

              %hr
              %div
                =label_tag :message
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-comment
                  =f.text_area :message, class: "form-control", :placeholder => "Type your message here. You can use up to 50 characters", hide_label: true
            .form-actions.center
              %button.btn.btn-sm.btn-success{:type => "submit"}
                Send Notification
                %i.ace-icon.fa.fa-arrow-right.icon-on-right.bigger-110

%hr        
=render 'shared/page_header', title: "Sent Notifications"

%form.form-inline
  Filter By:
  %input.input-medium{:placeholder => "Customer Name", :type => "text"}/
  %input.input-medium{:placeholder => "Phone Number", :type => "text"}/
  date range
  .input-group
    %span.input-group-addon
      %i.fa.fa-calendar.bigger-110
    %input#id-date-range-picker-1.form-control{:name => "date-range-picker", :type => "text"}/
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl picked up
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl not picked up
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl all
  %button.btn.btn-info.btn-sm{:type => "button"}
    %i.ace-icon.fa.bigger-110
    Go
.space-6
%table#sample-table-1.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th
        Sent on
        %i.ace-icon.fa.fa-calendar.bigger-110
      %th
        Picked up on 
        %i.ace-icon.fa.fa-calendar.bigger-110
      %th Customer
      %th Phone Number
      %th Message
      %th
  %tbody
    -@notifications.each do |notification|
      %tr
        %td= notification.decorate.sent_date
        %td= notification.item_picked_up_date
        %td
          = link_to notification.customer.decorate.name, customer_path(notification.customer)
        %td= notification.customer.decorate.display_phone_number
        %td= notification.message
        %td
          %button.btn.btn-danger.btn-xs Mark Picked Up
            
%script{:src => "/assets/js/jquery-ui.custom.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });