=render 'group_form', button_label: "Add Keyword", title: "Create a new keyword campaign", ajax_option: false
.space-6
%hr
%h4 Your keyword campaigns
- if @groups.any?
  %table#sample-table-1.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Customers
        %th Notifications
        %th 
    %tbody
      -@groups.each do |group|
        %tr
          %td= link_to "#{group.name}", group
          %td= group.customers.count
          %td= group.notifications.count
          %td
            = link_to group, method: "delete" do
              %button.btn.btn-danger.btn-xs
                %i.ace-icon.fa.fa-trash-o.align-top.bigger-125
                Delete
-else
  .alert.alert-warning
    %strong You don't have any groups yet. 
    Use the form above to ad a new one.
