.page-header
  %h1
    Groups

.row
  .col-sm-12
    %h2.text-success
      = "#{@group.name.capitalize} Group"
      %small
        = link_to "change name", "#", class: "update_name_button"    
    = render 'group_form', button_label: "Update", title: "Update group name", ajax_option: true  
    %hr
  .col-sm-6
    .widget-box.widget-color-blue
      .widget-header
        %h4.widget-title
          %i.ace-icon.fa.fa-list-alt
          = "Customers in the #{@group.name.capitalize} group"
      .widget-body
        .widget-main
          - if @group_customers.any?
            %table#sample-table-1.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Name
                  %th Phone Number
                  %th 
              %tbody
                -@group_customers.each do |customer|
                  %tr
                    %td= link_to "#{customer.name}", customer
                    %td= "#{customer.phone_number}"
                    %td
                      =link_to remove_from_group_path(@group, customer), method: 'post' do
                        %button.btn.btn-danger.btn-xs
                          %i.ace-icon.glyphicon.glyphicon-remove.align-top.bigger-125
                          Remove 
          -else
            .alert.alert-warning
              %strong You don't have any customers in this group yet. 
              Add some from the customer list.        
  .col-sm-6
    .widget-box.widget-color-blue
      .widget-header
        %h4.widget-title
          %i.ace-icon.fa.fa-user
          Add customers to this group from this list
      .widget-body
        .widget-main
          - if @customers_not_in_group.any?
            %table#sample-table-1.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Name
                  %th Phone Number
                  %th 
              %tbody
                -@customers_not_in_group.each do |customer|
                  %tr
                    %td= link_to "#{customer.decorate.name}", customer
                    %td= "#{customer.phone_number}"
                    %td
                      =link_to add_to_group_path(@group, customer), method: 'post' do
                        %button.btn.btn-primary.btn-xs
                          %i.ace-icon.fa.fa-pencil.align-top.bigger-125
                          Add to Group 
          -else
            .alert.alert-warning
              -if Customer.count > 0
                %strong There are no customers that are not allready in this group
                =link_to "create a new customer", new_customer_path
              -else  
                %strong There are no customers that are not allready in this group
                =link_to "create a new customer", new_customer_path          

:javascript
  jQuery(function($) {
    $('#group_form_box').hide();
    $('.update_name_button').on('click', function(){
      $('#group_form_box').slideDown();
    });
  });
