=link_to groups_path do
  %button.btn.btn-xs.btn-primary
    Back to keyword list    
.row
  .col-sm-12
  %h2
    = "\"#{@group.name.upcase}\" keyword campaign"
    %small
  = render 'group_form', button_label: "Update", title: "", ajax_option: true  
.row
  .col-sm-6
    %h4= "Customers in the \"#{@group.name}\" keyword campaign"
    - if @members.any?
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Phone Number
            %th 
        %tbody
          -@members.each do |member|
            %tr
              %td= link_to "#{member.customer.decorate.name}", member.customer
              %td= "#{member.customer.phone_number}"
              %td
                =link_to membership_path(member.id), method: 'delete', id: "member_#{member.customer.id}" do
                  %button.btn.btn-danger.btn-xs
                    Remove 
    -else
      .alert.alert-warning
        %strong You don't have any customers in this keyword campaign yet. 
        Add some from the customer list.        
  .col-sm-6
    %h4= "Add customers to the \"#{@group.name}\" keyword camaign."
    - if @customers_not_in_group.any?
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Phone Number
            %th 
        %tbody
          -@customers_not_in_group.each do |customer|
            %tr
              %td= link_to "#{customer.decorate.name}", customer
              %td= "#{customer.phone_number}"
              %td
                =link_to memberships_path(group: @group.id, customer: customer.id), method: 'post' do
                  %button.btn.btn-primary.btn-xs
                    Add to Group 
    -else
      .well
        =bootstrap_form_for @group do |f|
          - if @customer.errors.any?
            .alert.alert-danger
              %ul
                - @customer.errors.full_messages.each do |msg|
                  %li= msg
          =f.fields_for :customer do |c|
            =c.text_field :full_name, value: @customer.full_name, placeholder: 'Name (optional)', hide_label: true
            =c.text_field :phone_number, class: "input-mask-phone", value: @customer.phone_number, placeholder: 'Phone Number', hide_label: true
          =f.submit 'add customer', class: 'btn main-btn'

%script{:src => "/assets/js/jquery-ui.custom.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });