#customers
  = render 'customer_form', title: 'Add a customer', button_label: 'Add'
  .space-6
  =render 'shared/page_header', title: "Your Customers"
  %table#sample-table-1.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Customer Info
        %th Phone Number
        %th Has Been Sent Notifications?
        %th 
    %tbody
      -binding.pry
      -@customers.each do |customer|
        %tr
          %td= customer.name
          %td= customer.display_phone_number
          %td
            - if customer.notifications.any? 
              Yes
              =link_to "View Notifications", customer
            -else
              no                  
          %td
            =link_to customer_path(customer), id: "edit_#{customer.id}" do
              %button.btn.main-btn.btn-sm
                Edit
            =link_to customer_path(customer), data: { :confirm => "Are you sure you want to delete #{customer.name}?" }, :method => :delete, id: "delete_#{customer.id}" do
              %button.btn.alt-btn.btn-sm
                Delete
%script{:src => "/assets/js/jquery-ui.custom.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });       
            
