=render 'shared/page_header', title: "View Customers"

.row
  .col-sm-12
    .widget-box
      .widget-header
        %h4.widget-title
          Add a customer
      .widget-body
        .widget-main.no-padding
          = bootstrap_form_for @customer, layout: :inline, inline_errors: false do |f|
            =f.hidden_field :user_id, value: current_user.id
            %fieldset
              = f.alert_message "Please fix the errors below."
              %div
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-user
                  =f.text_field :first_name, class: "form-control", :placeholder => "Enter First Name", hide_label: true
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-user
                  =f.text_field :last_name, class: "form-control", :placeholder => "Enter Last Name", hide_label: true    
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-phone
                  =f.text_field :phone_number, class: "form-control input-mask-phone", :placeholder => "(555)555-5555", hide_label: true
                .input-group
                  %button.btn.btn-sm.btn-success{:type => "submit"}
                    Save Customer
                    %i.ace-icon.fa.fa-arrow-right.icon-on-right.bigger-110
.space-6
%hr
%form.form-inline
  Filter By:
  %input.input-medium{:placeholder => "Customer Name", :type => "text"}/
  %input.input-medium{:placeholder => "Phone Number", :type => "text"}/
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl has been sent notifications
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl has not been sent notifications
  %label.inline
    %input.ace{:name => "form-field-radio", :type => "radio"}/
    %span.lbl all
  %button.btn.btn-info.btn-sm{:type => "button"}
    %i.ace-icon.fa.bigger-110
    Go

%hr

%table#sample-table-1.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Customer Name
      %th Phone Number
      %th Has Been Sent Notifications?
      %th 
  %tbody
    -@customers.each do |customer|
      %tr
        %td= customer.name
        %td= customer.display_phone_number
        %td 
          %span.label.label-sm.label-primary.arrowed.arrowed-right Yes
          %a{:href => "#"} View Notifications
        %td
          =link_to customer_path(customer), id: "edit_#{customer.id}" do
            %button.btn.btn-primary.btn-sm
              %i.ace-icon.fa.fa-pencil.align-top.bigger-125
              Edit
          =link_to customer_path(customer), data: { :confirm => "Are you sure you want to delete #{customer.name}?" }, :method => :delete, id: "delete_#{customer.id}" do
            %button.btn.btn-danger.btn-sm
              %i.ace-icon.fa.fa-trash-o.align-top.bigger-125
              Delete
%script{:src => "/assets/js/jquery-ui.custom.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });       
            
