=render 'shared/page_header', title: "Customer - #{@customer.name} #{@customer.phone_number}"

= render 'customers/customer_form', title: 'Edit Customer', button_label: 'Update'
%hr
=link_to customers_path do
  %button.btn.btn-xs.btn-primary
    Back to customers list

.space-6
-if @customer.notifications.any?    
  %table#sample-table-1.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th sent on
        %th sent to group
        %th message
    %tbody
      - @customer.notifications.each do |notification|
        %tr
          %td= notification.created_at
          %td
            =link_to notification.group_notification.group.name, notification.group_notification.group if notification.group_notification
          %td= notification.message 
-else
  .alert.alert-warning
    ="#{@customer.full_name} has not been sent any txt yet."

%script{:src => "/assets/js/jquery-ui.custom.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });       
              
            
