.row
  .col-sm-7
    %h3.lead 
      Your Business Profile
      %small=link_to "Edit your profile", edit_business_owner_registration_path
    %table.table.table-striped.table-bordered.table-hover
      %tr
        %td Full Name
        %td= current_business_owner.full_name
      %tr
        %td Email
        %td= current_business_owner.email
      %tr
        %td Company Name 
        %td 
          Some Cool Company <TODO>
          %br 
          %small (this will appear in the text you send to customers)
      %tr
        %td Joined
        %td= current_business_owner.created_at
      %tr
        %td Membership
        %td Beta 
  .col-sm-5
    %h3.lead Your Text Notify Stats  
    %table.table.table-striped.table-bordered.table-hover
      %tr
        %td customers
        %td=@customers.count
      %tr
        %td customer groups  
        %td=current_business_owner.groups.count
      %tr    
        %td deliverd notifications
        %td= @delivered_notifications.count
      %tr     
        %td group notifications
        %td= current_business_owner.group_notifications.count
      %tr    
        %td failed deliveries
        %td= @failed_notifications.count
           
