.row
  .col-sm-7
    %h3.lead 
      Your Business Profile
      %small=link_to "Edit your profile", edit_business_owner_registration_path
    %table.table.table-striped.table-bordered.table-hover
      %tr
        %td Company Name
        %td= current_business_owner.company_name
      %tr
        %td Email
        %td= current_business_owner.email
      %tr
        %td Joined
        %td= format_datetime(current_business_owner.created_at)
      %tr
        %td Membership
        %td Beta 
  .col-sm-5
    %h3.lead Your Text Notify Stats  
    %table.table.table-striped.table-bordered.table-hover
      %tr
        %td customers
        %td=@customers_count
      %tr
        %td customer groups  
        %td=current_business_owner.groups.count
      %tr    
        %td deliverd notifications
        %td= @delivered_notifications_count
      %tr     
        %td group notifications
        %td= current_business_owner.group_notifications.count
      %tr    
        %td failed deliveries
        %td= @failed_notifications_count
           
