!!!5
%html(lang="en-US")
  %body
    %p="Keyword - #{@group.name}" 
    %p="Customer Phone - #{@customer.phone_number}" 
    %p="Customer Zip - #{@sms[:FromZip]}" 
    %p="Customer City - #{@sms[:FromCity]}" 
    %p="Customer State - #{@sms[:FromState]}" 
    %p="message - #{@sms[:Body]}" 


