.row
  -if @notifications.any?
    .col-sm-12
      %h4 Your txt message log
      .page_info
        = page_entries_info @notifications
    .col-sm-12
      %table#sample-table-1.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th
              Sent on
              %i.ace-icon.fa.fa-calendar.bigger-110
            %th Customer
            %th Message
            %th Group?
            %th Status
        %tbody
          -@notifications.each do |notification|
            %tr
              %td
                = format_datetime(notification.created_at)
              %td
                = link_to notification.customer.decorate.name + ' - ' + notification.customer.phone_number, customer_path(notification.customer) if notification.customer.full_name
              %td= notification.message
              %td= notification.group_notification.group.name if notification.group_notification
              %td 
                = notification.status
                = notification.error_code? ? "(error code - #{notification.error_code})" : "" 
      = will_paginate @notifications, renderer: BootstrapPagination::Rails         
  -else
    .alert.alert-warning
      You haven't sent any txt yet.              