.row
  .col-sm-12
    ="total txt count(#{@notifications.count})"
  .col-sm-12
    %table#sample-table-1.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th
            Sent on
            %i.ace-icon.fa.fa-calendar.bigger-110
          %th Customer
          %th Message
          %th Group txt
          %th Status
      %tbody
        -@notifications.each do |notification|
          %tr
            %td
              = notification.decorate.created_at
            %td
              = link_to notification.customer.decorate.name + ' - ' + notification.customer.phone_number, customer_path(notification.customer)
            %td= notification.message
            %td= notification.group_notification.group.name if notification.group_notification
            %td 
              = notification.status
              = notification.error_code? ? "(error code - #{notification.error_code})" : "" 