.row
  .col-sm-8.centerize
    %h4 Edit your account
    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.email_field :email, autofocus: true
      = f.text_field :company_name
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      %i (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "off"
      = f.password_field :password_confirmation, autocomplete: "off"
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "off"
      = f.submit "Update", class: 'btn main-btn'
    %h4 Cancel my account
    %p
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name),class: 'btn alt-btn', data: { confirm: "Are you sure?" }, method: :delete}
      = link_to "Back", :back
