=render 'shared/page_header', title: "Create a new account"

.row
  .col-sm-8.centerized
    .widget-box
      .widget-body
        .widget-main.no-padding
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            %fieldset
              %div
                =f.label :full_name, "Name"
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-user 
                  =f.text_field :full_name, class: "form-control", autofocus: true, :placeholder => "John Snow"
              %hr
              %div
                = f.label :email
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-envelope-o 
                  = f.email_field :email, class: 'form-control', :placeholder => "you@example.com"
              %hr
              %div
                = f.label :password
                - if @validatable
                  %em
                  (#{@minimum_password_length} characters minimum)
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-key
                  = f.password_field :password, autocomplete: "off", class: 'form-control', :placeholder => "password"
              %hr
              %div
                = f.label :password_confirmation
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-key
                  = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', :placeholder => "password"
            .form-actions.center
              %button.btn.btn-sm.btn-success{:type => "submit"}
                Create Account
                %i.ace-icon.fa.fa-arrow-right.icon-on-right.bigger-110
